/* ici les differents dimenssions de nos medias */

/* @media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}
@media screen and (max-width: 427px) {
  
} */


/* media query utilisé pour le projet boulangerie */

/*@media screen and (max-width: 1350px) {}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 900px) {}


@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 427px) {}*/
/* fin media query utilisé pour le projet boulangerie */


/* 
font-familly use for KamTl
font-family: 'Asap', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Playpen Sans', cursive;
font-family: 'Roboto', sans-serif; */